@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Color Variables */
$light: #ffffff;
$light-secondary: #f3f4f6;
$dark: #111827;
$dark-secondary: #1f2937;
$purple: #7154fc;
$purple-border: #5841cd;
$purple-shadow: rgba(113, 84, 252, 0.2);
$font-purple: #5e58f8;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}
*:focus {
    outline: none;
}
button {
    border: 0;
    outline: 0;
}



.body {
    width: 100%;
    min-height: 100vh;
    background-color: $light;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    /* Class name for when dark mode is active */
    &--active {
        background-color: $dark;
    }
}



/**
 * ^Navigation Bar
 * 
 * ^Bar at the top of page for user to interact with.
 */
.nav {
    height: 60px;
    width: 100%;
    background-color: $light-secondary;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    &__container {
        height: 100%;
        max-width: 640px;
        padding: 0 20px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        color: $font-purple;
        &::before {
            font-family: "fontawesome";
            content: '\f023';
            font-weight: 900;
        }
    }
    &__toggle {
        height: 40px;
        width: 40px;
        color: $font-purple;
        background-color: $light-secondary;
        font-size: 2rem;
        border-radius: 50%;
        transition: color 100ms ease;
        &::before {
            font-family: "fontawesome";
            content: '\f186';
            font-weight: 900;
        }
        &:hover {
            color: $purple-border;
            cursor: pointer;
        }
    }
    /* Class name for when dark mode is active */
    &--active {
        background-color: $dark-secondary;
        .nav__title {
            color: $light;
        }
        & .nav__toggle {
            color: $light;
            background-color: $dark-secondary;
            &::before {
                content: '\f0eb';
            }
            &:hover {
                color: $purple-border;
                cursor: pointer;
            }
        }
    }
}



/**
 * ^Main Section
 * 
 * ^Includes entire page, except nav/footer.
 */
.main {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    min-width: 240px;
    max-width: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &__subtitle {
        font-size: 0.8rem;
        color: $font-purple;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        color: black;
        margin-bottom: 15%
    }
    /* Class name for when dark mode is active */
    &--active {
        .main__title {
            color: $light;
        }
    }
}



.slider {
    position: relative;
    width: 100%;
    height: calc(65px - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 20px;
    &::before,
    &::after {
        position: absolute;
        color: $font-purple;
        font-size: 1rem;
        font-weight: bold;
    }
    &::before {
        content: attr(data-min);
        left: 6px;
    }
    &::after {
        content: attr(data-max);
        right: 6px;
    }
    &__title {
        position: absolute;
        top: -10px;
        left: 0;
        transform: translateY(-50%);
        font-weight: 800;
        color: $font-purple;
        text-transform: uppercase;
        font-size: 0.75rem;
        pointer-events: none;
        user-select: none;
    }
    &__title::after {
        content: attr(data-length);
        position: absolute;
        color: $font-purple;
    }
    &__input {
        height: 8px;
        width: calc(100% - (70px));
        border: none;
        border-radius: 5px;
        color: $purple;
        background: $purple;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        &:focus {
            outline: none;
        }
        &, &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
        &::-webkit-slider-thumb {
            height: 30px;
            width: 30px;
            background: $light;
            border: solid 3px $purple;
            border-radius: 50%;
        }
        &::-moz-range-thumb {
            height: 24px;
            width: 24px;
            background: $light;
            border: solid 3px $purple;
            border-radius: 50%;
        }
    }
    &--active {
        .slider__title,
        .slider__title::after {
            color: $light;
        }
        &::before,
        &::after {
            color: $light;
        }
    }
}



/**
 * ^Settings
 * 
 * ^Section for the optional settings the user can apply.
 */
.settings {
    height: 220px;
    width: 80%;
    padding: 10px;
    margin: 0 auto 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $light-secondary;
    border-radius: 0.8rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    &__title {
        position: absolute;
        top: -10px;
        transform: translateY(-50%);
        font-weight: 800;
        color: $font-purple;
        text-transform: uppercase;
        font-size: 0.75rem;
        pointer-events: none;
        user-select: none;
    }
    &__setting {
        position: relative;
        width: 100%;
        height: 2.8rem;
        background: $light-secondary;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        /* color: $font-purple; */
        margin-bottom: 8px;
        & input {
            opacity: 0;
            position: absolute;
        }
        & input + label {
            user-select: none;
        }
        & input + label::before,
        & input + label::after {
            content: "";
            position: absolute;
            transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
            transform: translateY(-50%);
            top: 50%;
            right: 10px;
            cursor: pointer;
        }
        & input + label::before {
            height: 30px;
            width: 50px;
            border-radius: 30px;
            background: rgba(167, 167, 167, 0.783);
        }
        & input + label::after {
            height: 24px;
            width: 24px;
            border-radius: 60px;
            right: 32px;
            background: #fff;
        }
        & input:checked + label:before {
            background: $purple;
            transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
        }
        & input:checked + label:after {
            right: 14px;
        }
        & input:disabled + label:before,
        & input:disabled + label:after {
            cursor: not-allowed;
        }
        & input:disabled + label:before {
            background: #4f4f6a;
        }
        & input:disabled + label:after {
            background: #909090;
        }
    }
    & label {
        font-size: 1.2em;
        font-weight: 600;
    }
    /* Class name for when dark mode is active */
    &--active {
        background-color: $dark-secondary;
        color: $light;
        .settings__setting {
            background-color: $dark-secondary;
        }
    }
}


/**
 * ^Generate Button
 * 
 * ^The button that generates the password.
 */
.generate {
    height: 80px;
    width: 100%;
    &__btn {
        width: 90%;
        color: $light;
        background: $purple;
        border-bottom: 6px solid $purple-border;
        border-radius: 0.8rem;
        padding: 16px;
        letter-spacing: 1.5px;
        font-weight: bold;
        font-size: 1.3rem;
        transition: all 50ms ease;
        font-family: Arial, Helvetica, sans-serif;
        &:active {
            margin-top: 5px;
            border-bottom-width: 0;
            box-shadow: 0 0 10px 15px $purple-shadow;
            transition: all 0s;
        }
    }
}


.result {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 0.8rem;
    border: solid 2px $dark;
    background: $light-secondary;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &__viewbox {
        height: 100%;
        width: 90%;
        background: rgba(255, 255, 255, 0.08);
        color: black;
        font-size: 1.1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
    }
    &--active {
        border: solid 2px $light;
        background: $dark-secondary;
        .result__viewbox {
            color: #fff;
        }
    }
}


.copy-test {
    height: 100%;
    width: 20%;
    position:sticky;
    right: 0;
    color: $light;
    background: $purple;
    cursor: pointer;
    font-size: 1.6rem;
    transition: font-size 100ms ease;
    &::before {
        font-family: "fontawesome";
        content: '\f0ea';
        font-weight: 900;
    }
    &:active {
        font-size: 1.3rem;
    }
}


/**
 * ^Footer
 * 
 * ^The footer is displayed at the bottom of page.
 */
.footer {
    width: 100%;
    height: 140px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__socials { /* Social Links (Buttons) */
        height: 40px;
        width: 50%;
        max-width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link { /* Icons */
        height: 40px;
        width: 40px;
        margin: 0;
        color: #fff;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        font-family: fontawesome;
        position: relative;
        display: inline-block;
        /* padding-top: 10px; */
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        -webkit-font-smoothing: antialiased;
        &:hover span { /* text pops up when icon hovered */
            bottom: 50px;
            visibility: visible;
            opacity: 1;
        }
        /* Font Awesome icons */
        &:nth-of-type(1):before {content: '\f003';}
        &:nth-of-type(2):before {content: '\f0e1';}
        &:nth-of-type(3):before {content: '\f113';}
        & span { /* pop-up text */
            color: $dark;
            position: absolute;
            font-family: sans-serif;
            bottom: 0;
            left: -25px;
            right: -25px;
            padding: 5px 7px;
            z-index: 1;
            font-size: 14px;
            border: solid 2px #1f1f1f;
            border-radius: 3px;
            background: #f5f5f5;
            visibility: hidden;
            opacity: 0;
            line-height: normal;
            -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:before { /* pop-up text arrow */
                content: '';
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                position: absolute;
                bottom: -5px;
                left: 40px;
            }
        }
    }
    &__copyright { /* copyright tag */
        font-family: 'Roboto Slab', sans-serif;
        font-size: 15px;
        color: #fff;
    }
}
/* Social Link Colors */
.email {background: #8a2be2;}
.email:hover {background: #a871db;}
.linkedin {background: #378fe9;}
.linkedin:hover {background: #7eaedd;}
.github {background: #333333;}
.github:hover {background: #575757;}



/* Media Query For Desktop */
@media only screen and (min-width: 850px) {
    .main {
        min-height: 500px;
        max-height: 820px;
        margin: auto;
        &__subtitle {
            font-size: 1.1rem;
        }
        &__title {
            font-size: 3.2rem;
            margin-bottom: 20%;
        }
    }

    .slider {
        margin: 20px 0;
    }

    .settings {
        height: auto;
        padding: 20px;
        margin: 0 auto 60px auto;
    }

    .generate {
        &__btn {
            font-size: 1.5rem;
            &:hover {
                margin-top: 2px;
                border-bottom-width: 3px;
                cursor: pointer;
                box-shadow: 0 0 10px 15px $purple-shadow;
            }
            &:active {
                margin-top: 5px;
                border-bottom-width: 0;
            }
        }
    }

    .copy-test {
        width: 10%;
    }
}