@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #21262d, #202328, #21262d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #21262d, #202328, #21262d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
button {
    border: 0;
    outline: 0;
}

.container {
    margin: auto;
    padding: 20px;
    height: 100%;
    min-height: 500px;
    max-height: 820px;
    width: 100%;
    min-width: 240px;
    max-width: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container h2.title {
    font-size: 2rem;
    color: rgb(235, 235, 235);
}

.result {
    width: 100%;
    height: 80px;
    overflow: hidden;
    color: #fff;
    border-radius: 10px;
    border-width: .5px;
    border-style: solid;
    border-color: rgba(255,255,255,.425);
}
.result_viewbox {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    color: rgb(216, 216, 216);
    text-align: center;
    line-height: 65px;
}
.result #copy-btn {
    position: absolute;
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.result #copy-btn:active {
    box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}
.result:hover #copy-btn {
    opacity: 1;
    transform: translate(-50%, -135%) scale(1.35);
}
.field-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
}

.slider {
    position: relative;
    width: 100%;
    height: calc(65px - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    margin: 20px 0;
}
.slider::before, .slider::after {
    position: absolute;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}
.slider::before {
    content: attr(data-min);
    left: 10px;
}
.slider::after {
    content: attr(data-max);
    right: 10px;
}
.slider .length_title::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums;
    color: #fff;
}
#slider {
    width: calc(100% - (70px));
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.314);
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
    background: #d4d4d4;
    transform: scale(1.2);
}
#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
    background: #d4d4d4;
}

.settings {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
}
.settings .setting {
    position: relative;
    width: 100%;
    height: calc(65px - 10px);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    margin-bottom: 8px;
}
.settings .setting input {
    opacity: 0;
    position: absolute;
}
.settings .setting input + label {
    user-select: none;
}
.settings .setting input + label::before, .settings .setting input + label::after {
    content: "";
    position: absolute;
    transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    cursor: pointer;
}
.settings .setting input + label::before {
    height: 30px;
    width: 50px;
    border-radius: 30px;
    background: rgba(214, 214, 214, 0.434);
}
.settings label {
    font-size: 1.1em;
}
.settings .setting input + label::after {
    height: 24px;
    width: 24px;
    border-radius: 60px;
    right: 32px;
    background: #fff;
}
.settings .setting input:checked + label:before {
    background: #ff4747;
    transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.settings .setting input:checked + label:after {
    right: 14px;
}
.settings .setting input:disabled + label:before, .settings .setting input:disabled + label:after {
    cursor: not-allowed;
}
.settings .setting input:disabled + label:before {
    background: #4f4f6a;
}
.settings .setting input:disabled + label:after {
    background: #909090;
}

.btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: none;
    background: #ff4747;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff4747, #ff8585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff4747, #ff8585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    letter-spacing: 2.5px;
    font-family: ;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms ease;
}
.btn.generate:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}


/* FOOTER */
.home-footer {
    width: 100%;
    height: 180px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Social Links (Buttons) */
.social-div {
    height: 40px;
    width: 50%;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
/* Icons */
.social-link {
    margin: 0;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}
/* Social Link Colors */
.email {background: #8a2be2;}
.email:hover {background: #a871db;}
.linkedin {background: #378fe9;}
.linkedin:hover {background: #7eaedd;}
.github {background: #333333;}
.github:hover {background: #575757;}
/* pop-up text */
.social-link span {
    color: #666;
    position: absolute;
    font-family: sans-serif;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: 1;
    font-size: 14px;
    border-radius: 2px;
    background: #f5f5f5;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* pop-up text arrow */
.social-link span:before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}
/* text pops up when icon is in hover state */
.social-link:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}
/* font awesome icons */
.social-link:nth-of-type(1):before {
    content: '\f003';
}
.social-link:nth-of-type(2):before {
    content: '\f0e1';
}
.social-link:nth-of-type(3):before {
    content: '\f113';
}
/* Copyright Tag */
.copyright-div {
    width: 300px;
    height: 50px;
    text-align: center;
}
.copyright{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px;
    color: #fff;
}

@media only screen and (min-width: 30px) and (max-width: 849px) {
    /* FOR MOBILE */
    .title {
        font-size: 1.5rem;
    }
}